body {
    margin : 0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }

/* 핸드폰 */
#phoneBox{
    margin: 20px auto;
    width: 20%;
    height: 80%;
    position: relative;
    background-color: rgb(255, 245, 216);
}

#phoneLeft, #phoneRight{
    margin-top: 10px;
    width: 30%;
    min-width: 150px;
    max-width: 500px;
    background-color: rgb(31, 31, 31);
    position: relative;
    border-radius: 15px;
    text-align: center;
    border: 0.5vw solid rgb(65, 65, 65);
    float: left;
    position: absolute;
    transition: all 0.2s;
    color: rgb(255,255,255);
    aspect-ratio: 9 / 16;
}

#phoneLeft{
    transform-origin: left center;
    transition-timing-function: ease-in;
    animation: phoneLeft 5s 1 forwards;
}

#phoneRight{
    animation: phoneRight 5s 1 forwards;
    transition-timing-function: ease-in;
    border-left: none;
    margin-left: 50%;
}

/* 첫 시작 애니메이션 */
@keyframes phoneLeft {
    0%{
        margin-left: 35%;
        transform : rotateY(0deg);
        border: 0.5vw solid rgb(65, 65, 65);
        background-image: none;
    }
    20%{
        margin-left: 35%;
        transform : rotateY(0deg);
        border: 0.5vw solid rgb(65, 65, 65);
        background-image: none;
    }
    40%{
        margin-left: 35%;
        transform : rotateY(0deg);
        border: 0.5vw solid rgb(65, 65, 65);
        background-image: none;
    }
    60%{
        margin-left: 35%;
        transform : rotateY(0deg);
        border: 0.5vw solid rgb(65, 65, 65);
        background-image: none;
    }
    80%{
        margin-left: 50%;
        transform : rotateY(0deg);
        border: 0.5vw solid rgb(65, 65, 65);
        background-image: none;
    }
    100%{
        margin-left: 50%;
        transform : rotateY(180deg);
        background-image: url(./images/back_left.png);
        border-left: none;
    }
}

@keyframes phoneRight {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        background-image: url(./images/back_right.png);
        opacity: 100%;
    }
}


/* 메인 => 설명 애니메이션 */
@keyframes main_to_explain_left {
    0%{
        margin-left: 50%;
        transform : rotateY(180deg);
        border-left: none;
        background-image: url(./images/back_left.png);
        opacity: 100%;
    }
    100%{
        margin-left: 50%;
        transform : rotateY(180deg);
        border-left: none;
        background-image: none;
        background-color: rgb(255, 255, 255);
        opacity: 100%;
    }
}

@keyframes main_to_explain_right {
    0%{
        background-image: url(./images/back_right.png);
        opacity: 100%;
    }
    100%{
        background-image: none;
        background-color: rgb(255, 255, 255);
        opacity: 100%;
    }
}

/* 설명 => 메인 애니메이션 */
@keyframes explain_to_main_left {
    0%{
        margin-left: 50%;
        transform : rotateY(180deg);
        border-left: none;
        background-color: rgb(255, 255, 255);
        opacity: 100%;
    }
    100%{
        margin-left: 50%;
        transform : rotateY(180deg);
        border-left: none;
        background-image: none;
        background-image: url(./images/back_left.png);
        opacity: 100%;
    }
}

@keyframes explain_to_main_right {
    0%{
        
        background-color: rgb(255, 255, 255);
        opacity: 100%;
    }
    100%{
        background-image: url(./images/back_right.png);
        opacity: 100%;
    }
}


#loading{
    margin-top: 45%;
    width: 50%;
    animation: loading 2s linear 1 forwards;
    transform-origin: 50% 50%;
}

/* 로딩 애니메이션 */
@keyframes loading {
    0%{
        transform: rotate(360deg);
        opacity: 100%;
    }
    90%{
        opacity: 100%;
    }
    100%{
        transform: rotate(0deg);
        opacity: 0%;
    }
}

/* 화면 켜지기 애니메이션*/
@keyframes screenOn {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

/* 화면 */
#screen{
    max-width: 1000px;
    min-width: 300px;
    margin: 2% 25%;
    width: 50%;
    position: absolute;
    z-index: 1;
    animation: screenOn 6s 1 forwards;
    aspect-ratio: 16 / 14;
    transition: all 0.2s;
    overflow: hidden;
}

@media (max-width: 580px) {
    #screen{
        margin: 5% 22.5%;
        aspect-ratio: 9 / 13;
    }
    #phoneLeft, #phoneRight{
        aspect-ratio: 9 / 27;
    }
}

@media (max-width: 540px) {
    #screen{
        margin: 5% 20%;
    }
}

@media (max-width: 510px) {
    #screen{
        margin: 5% 18%;
    }
}
@media (max-width: 465px) {
    #screen{
        margin: 5% 15%;
    }
}
@media (max-width: 425px) {
    #screen{
        margin: 5% 12.5%;
    }
}
@media (max-width: 390px) {
    #screen{
        margin: 5% 10%;
    }
}
@media (max-width: 340px) {
    #screen{
        margin: 5% 5%;
    }
}
@media (max-width: 320px) {
    #screen{
        margin: 5% 2.5%;
    }
}

/* 상단 시계 및 와이파이 등 */
#timezone{
    margin-left: 1%;
    top: 10px;
    min-width: 290px;
    width: 98%;
    height: 5%;
    line-height: -50px;
    color: rgb(255,255,255);
    font-size: 1vw;
}
#timezone span{
    width: 30%
}

#timezone span:nth-child(1){
    float: left;
}
#timezone span:nth-child(2){
    float: right;
    text-align: right;
    text-indent: 30px;
}

#timezone > span > img{
    width: 7%
}

/* 메인 화면 */
#screenChange{
    width: 100%;
    height: 95%;
    position: relative;
}

.screenBox{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.2s;
}

#box1{
    z-index: 1;
}

#box2{
    opacity: 0;
    z-index: 0;
}

/* 기본화면 */
#mainHeader{
    margin: 20px auto;
    width: 90%;
    height: 35%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: rgb(31, 31, 31);
    background-position: center;
    background-size: 100%;
    position: relative;
    transition: all 0.2s;
}

#mainHeader > div{
    float: left;
}

#headerLeft{
    width: 25%;
    height: 90%;
    color: rgb(255,255,255);
    transition: all 0.2s;
    overflow: hidden;
}

#headerLeft > img{
    margin: 10% auto;
    width: 55%;
    display: block;
    border-radius: 5px;
}

#detail{
    margin: 0 auto;
    width: 90%;
    height: 25%;
    line-height: 150%;
    text-indent: 10px;
    font-size: 0.8vw;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    text-align: left;
}

#detail p{
    margin: 0;
    width: 100%;
    height: 50%;
    float: left;
}

#detail img{
    margin-top: 3%;
    margin-left: 2%;
    width: 8%;
    display: block;
    float: left;
}

#headerRight{
    margin : 2.5% 0px;
    width: 70%;
    height: 85%;
    background-image: url(./images/mainBack.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s;
}

table, tr, td{
    text-indent: 10px;
    border: 1px solid #5f5f5f;
    border-collapse: collapse;
}

table{
    margin: 5% 2.5%;
    width: 95%;
    font-size: 0.8vw;
    display: block;
    border-radius: 5px;
}

table img{
    margin: 2% auto;
    width: 50%;
}

.mainBlock{
    margin: 2.5%;
    width: 95%;
    height: 20%;
}


.mainBlock h3 {
    font-size: 2vw;
}

.headerStack{
    padding: 5px 0px;
    width: 100%;
    max-height: 60%;
    font-size: 0.8vw;
    line-height:1.8em;
    text-indent: 10px;
    background-color: rgb(51, 51, 51);
    border-radius: 15px;
}

.headerStack:nth-child(2){
    height: 60%;
}

.headerStack span{
    display: block;
}

.headerStack img{
    margin: 1% 10px;
    width: 8%;
    float: left;
    cursor: pointer;
}

#back{
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(37, 37, 37);
    background-color: rgba(255,255,255,0.4);
}

#mainSearch{
    margin: 15% auto 0px;
    width: 90%;
    height: 5%;
    font-size: 1vw;
    text-indent: 10px;
    display: block;
    border: none;
    border-radius: 50px;
    background-color: rgb(248, 248, 248);
}

#mainSearch img{
    margin-top: 0.5%;
    width: 4%;
    display: block;
    float: left;
    cursor: pointer;
}
#mainSearch img:nth-child(1){
    margin-left: 1%;
}

#mainSearch img:nth-child(3), #mainSearch img:nth-child(4){
    margin-right: 1%;
    float: right;
}

#mainSearch input{
    width: 75%;
    height: 90%;
    text-indent: 10px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    border: none;
}

#appMenu, #subMenu{
    margin: 20px auto;
    width: 90%;
    height: 15%;
    transition: all 0.2s;
}


.icon{
    margin: 1% 0 0 4%;
    width: 12%;
    aspect-ratio: 1 / 1;
    float: left;
    text-align: center;
    border-radius: 35%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s;
    cursor: pointer;
}

.icon.dragging {
    opacity: 0.5;
}
.icon.over {
    background-color: rgba(0,0,0,0.5)
} 

.subIcon{
    margin: 1% 0 0 4%;
    width: 10%;
    aspect-ratio: 1 / 1;
    float: left;
    text-align: center;
    border-radius: 40%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s;
    cursor: pointer;
}

#carrer{
    align-content: center;
    font-size: 1vw;
    font-weight: bold;
    background-color: rgb(235, 145, 28);
    color: rgb(255,255,255);
}

#github{
    float: right;
    background-image: url(./images/github.png);
    background-color: rgb(214, 214, 214);
    border: 0.3vw solid rgb(31, 31, 31);
    display: block;
}


/* 슬라이드 */
.container {
    margin: 0px 1.5%;
    padding: 0;
    box-sizing: border-box;
    width: 98%;
    height: 60%;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.slideBox {
    display: flex;
    height: 100%;
    /* transition: transform 0.5s ease-in-out; */
}

.slide {
    min-width: 100%; /* 각 슬라이드의 크기를 화면 크기에 맞추기 */
    height: 100%; /* 원하는 높이로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
}

.slide img{
    margin: auto;
}

input.prev, input.next {
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
}

input.prev {
    left: 10px;
}

input.next {
    right: 10px;
}

#slideBtns{
    margin: -2% 15%;
    width: 70%;
    height: 3%;
    z-index: 3;
    position: absolute;
}

.slideBtn{
    margin: 0 3.25%;
    width: 7%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    float: left;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}

#introduce{
    margin: 20px auto;
    padding: 0.5% 1.5%;
    width: 90%;
    height: 35%;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.7);
    color: rgb(255,255,255);
    overflow-y: auto;
    overflow-x: none;
}

#introduce::-webkit-scrollbar {
    width: 10px;
}
#introduce::-webkit-scrollbar-thumb {
    background-color: #5f5f5f;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
#introduce::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #000000;
}


#introduce h3{
    font-size: 1vw;
    text-transform: capitalize
}

#introduce p{
    font-size: 0.7vw;
}

#stack{
    margin: 2% auto;
    padding-bottom: 5px;
    width: 100%;
    height: 25%;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    display: block;
}

#stack img{
    margin: 1%;
    width: 7%;
    cursor: pointer;
}

.github{
    margin-right: 10px;
    float: right;

}

#mainBtn{
    margin-top: 1%;
    right: 5%;
    width: 5%;
    font-size: 0.6vw;
    text-align: center;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 5px;
    background-image: url(./images/back_white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: rgb(41, 41, 41);
    position: absolute;
    display: block;
    cursor: pointer;
}